<div class="services" id="work">
  <% @teams.each do |team| %>

  <div class="container panel">
      <div class="services-top panel-heading">
        <h3><%= team.name %></h3>
      </div>
      
    <div class="row services-row panel-body">
      <% team.users.each do |member| %>
          <div class="col-md-4 service-row-column">
            <%= image_tag(member.avatar.url(:thumb), :alt => "default-avatar", :class =>"img-responsive image-left-1")%>
            <i class="para">
              <small>
                <span>
                  <%= link_to member.username, member %>
                </span>  member</small>
              </i> 
            </div> 
      <% end %>
      </div>   
      <div class="row services-row panel-body">
        <div class="services-top">
          <%= link_to "Details", team, :class=>"banner-btn" %>
        </div>
        <div class="clearfix"> </div> 
      </div>
      
      </div>
    <% end %>
    
      
      
    </div>

