<% @user ||= current_user %>
  <%= render "following"%>
  <%= render "followers"%>
  <a type="button" data-toggle="modal" data-target="#following">
  <strong id="following">
      <%= @user.followed_users.count %>
    </strong>
    following  
  </a>

  <a type="button" data-toggle="modal" data-target="#followers">
  <strong id="followers" >
      <%= @user.followers.count %>
    </strong>
    followers
  </a>