 <div class="modal fade" id="followers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Followers</h4>
      </div>
      <div class="modal-body">
        <% @followers.each do |user| %>
        <div class="row">
        <div class="col-xs-4"> <%= image_tag user.avatar, :class =>"img-responsive"%>
        </div>
        <div class="col-xs-4"><%= link_to user.username, user, :class =>"title-link text-left"%>
        </div>
      	</div>
    	<% end %>
      </div> 
    </div>
  </div>
</div>


    
