
 <div class="bg">
    <div class="banner-info">
      <div class="container">
          <h1><span>Our</span><br/><label>Projects</label></h1>
      </div>
    </div>
  </div>

    <div class="container-fluid container-compressed">  
      <div class="about">
        <div class="head-section">
          <div class="container">
            <h3><span>Recent</span><label>Projects .</label></h3>
          </div>
        </div>
        
          <div class="about-grids">
            
            <% @projects.each do |project| %>
            <div class="col-md-4 about-grid">
              <div class="about-grid-info">
                <h4><%= link_to project.name, project) %></h4>
              </div>
                <div class="col-md-12">
                <p><%= project.description %></p>
              </div>
              <div class=" col-md-12">
              <%= image_tag project.avatar_project, :class =>"about-grid-pic" %>
              </div>
              </div>
              <% end %>
            </div>
             
            </div>
          </div>            
        </div>
      </div>
</div>