<div class="container">
  
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="https://photos-1.dropbox.com/t/2/AACRWY56xrrI8dCyF97G-wp4cBjPkhCb3WhM8-5TadIcVg/12/314075836/jpeg/32x32/1/1443772800/0/2/WP_20150417_13_03_10_Selfie.jpg/CLzV4ZUBIAEgAiADIAYgBygCKAc/lj6s0yU7Hw6JF2dQA7OEjPT4hpPP2xljNTaLHud3L_g?size=1024x768&size_mode=2" alt="Generic placeholder image" width="140" height="140">
          <h2>Andrea Zapata</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://photos-5.dropbox.com/t/2/AAAR2RZGKG9n1adDk1VN86Jiz0fQGcbZHTmM0zXhih0iHA/12/314075836/jpeg/32x32/1/1443772800/0/2/WP_20150417_13_05_38_Pro.jpg/CLzV4ZUBIAEgAiADIAYgBygCKAc/447UbJkiFrbGhBF_LLfjuQUtJW0slQ100RpeFUuNha8?size=1024x768&size_mode=2" alt="Generic placeholder image" width="140" height="140">
          <h2>Melissa Manjarres</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://photos-2.dropbox.com/t/2/AABvqnOtUeXJ6Vmr--kimFKOhOM1JJBcKnq0kg8to9ITDg/12/314075836/jpeg/32x32/1/1443772800/0/2/carlos.jpg/CLzV4ZUBIAEgAiADIAYgBygCKAc/BLqehwFp89bdPoVpsLT0lfvzupCckDjHEiyk9y6igHw?size=1024x768&size_mode=2" alt="Generic placeholder image" width="140" height="140">
          <h2>Carlos Flores</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div>