<div class="bg">
    <div class="container">
      <div id="home" class="header wow bounceInDown" data-wow-delay="0.4s">
          <div class="top-header"></div>
      </div>
    </div>
    <div class="banner-info">
      <div class="container">
          <h1 class="wow fadeIn" data-wow-delay="0.5s"><span>Our</span><br /><label>Projects</label></h1>
      </div>
    </div>
      <div class="clearfix"></div>
    </div>

      <div id="about" class="about">
        <div class="head-section">
          <div class="container">
            <h3><span>Recent</span><label>Projects .</label></h3>
          </div>
        </div>
          <div class="about-grids">
            <div class="col-md-4 about-grid about-grid1 wow fadeInLeft" data-wow-delay="0.4s">
              <div class="about-grid-info">
                <h4><a href="#">Project #1</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo sit asperiores, veritatis, nam, dicta necessitatibus numquam quae optio iste quam quisquam labore. Quisquam a dicta impedit sapiente, accusamus provident aspernatur!</p>
              </div>
              <div class="about-grid-pic">
              <%= image_tag("about-pic1.jpg", :alt => "Proy1") %>  
              </div>
            </div>
            <div class="col-md-4 about-grid about-grid2 wow fadeInUp" data-wow-delay="0.4s">
              <div class="about-grid-pic">
             <%= image_tag("about-pic2.jpg", :alt => "Proy2") %>  
             </div>
              <div class="about-grid-info">
                <h4><a href="#">Project #2</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor alias quidem facere, non sit labore magnam ex pariatur sunt ab, laboriosam facilis explicabo eligendi aspernatur quasi illo quis iste. Dolor. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
            <div class="col-md-4 about-grid about-grid1 wow fadeInRight" data-wow-delay="0.4s">
              <div class="about-grid-info">
                <h4><a href="#">Project #3</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia laudantium exercitationem cum sunt, perferendis, ea est sequi, assumenda voluptatibus molestiae voluptates sit soluta alias accusamus unde totam quia ipsa similique?</p>
              </div>
              <div class="about-grid-pic">
              <%= image_tag("about-pic3.jpg", :alt => "Proy3") %>  
              </div>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
        <div class="clearfix"> </div>
            <div class="work-with-us text-center">
              <div class="container">
                <h4>WORK WITH US!</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id tempora, quam architecto.</p>
                <a class="catch-me wow shake" data-wow-delay="0.3s" href="#">contact us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>