$color-primary-0: #00CC99;	// Main Primary color */
$color-primary-1: #53D9B7;
$color-primary-2: #2AD1A7;
$color-primary-3: #00A37A;
$color-primary-4: #007E5E;

$color-secondary-1-0: #FF9E00;	// Main Secondary color (1) */
$color-secondary-1-1: #FFC361;
$color-secondary-1-2: #FFB133;
$color-secondary-1-3: #FB9B00;
$color-secondary-1-4: #C27800;

a:hover, a:focus{
        background:none;
        text-decoration:none!important;
}

a:visted{
        color:inherited;
}

.navbar-default{
     background: none!important;
}

.navbar{
    margin-bottom :0!important;
    
    .navbar-brand, .navbar-brand:hover{
    background-image:url("logo.png");
    background-size: cover;
    display:block;
    height:60px;
    margin:10px;
    outline:none;
    text-indent:-9999px;
    width: 180px;
    }
    
    
    .navbar-nav {
    
      li , p{
        font-family: 'Fredoka One', cursive;
        font-size: 16px;
      }
    }
    
  .navbar-right{
    padding-top:10px;
  }

}

.container-expanded{
    width:100%;
    margin:0;
    padding:0;
}

.carousel-caption{
    display:block;
    background-color: rgba(76,76,76,0.3);
}


.services h2{
    display:none;
}

.our-story{
    padding-top:80px;
 p{
    margin-top:30px;
    font-size:16px;
  }
 img{
    width:80%;
  }
  
}
.services {
  
  h2{
  display:none;
  }

.item:hover .info{
  display:block;
}



.item .info{
  background:#EB6D4C;
  bottom: 0;
  display: none;
  left: 0;
  padding:24px 28px 20px 20px;
  position: absolute;
  right: 0;
  top: 0;
  
  h3{
  color:white;
  font-size:20px;
  font-weight:bold;
  margin:0 0 16px 0;
  text-transform: uppercase;
}
}



.services:after {
  content: "";
  display: table;
  clear: both;
}
 .row .col-green{
  background-color:$color-primary-1;
}
.row .col-orange{
  background-color:$color-secondary-1-1;
} 
}


.footer{
  
    background:none;
    margin-top:80px;
    padding-top:40px;
    padding-bottom:30px;
    position:relative;
    
    .footer-logo{
      height:80px;
      width:80px;
      margin:0 auto;
    }
}

.log-in{
    padding-top: 40px;
    width:90%;
}

.wrapper{
    margin:0 auto;
    position:relative;
    width:95%;
}

.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.container-profile{
  width:100%;
  
}


@media (min-width: 768px) { 
  
  .log-in{
        width:60%;
        margin:0 auto;
    }
}

@media (min-width: 992px) {
  .container-compressed{
    width:80%;
    margin:0;
    padding:0;
}

.navbar-button{
    border: solid 1px $color-primary-0 ;
    border-radius: 5px;
        
      a{
        color:$color-primary-0;
      }
      
     a:hover, a:focus{
        background-color: $color-primary-0 !important;
        color:white !important;
      }
  }
}

@media (min-width: 1200px) {}
