$color-primary-0: #00CC99;  // Main Primary color */
$color-secondary-0: #EB6D4C;  // Main Primary color */
$color-secondary-1: #868686;  // Main Primary color */
$font-title: 'Oswald', sans-serif;

.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  font-family: $font-title;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: $color-secondary-1;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: $color-primary-0;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: $color-primary-0;
  background-color: #e5f9f4;
  border-left: 2px solid $color-primary-0;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;

  .panel-title .title a{
    font-family :$font-title;
    font-weight:900;
    font-size:26px;
    color:$color-primary-0!important;
    margin-bottom:0px;
  }

  a.banner-btn, {
  color: #fff;
  border:0px;
  border-radius:3px;
  background:$color-primary-0;
  text-transform:uppercase;
  font-weight: 600;
  text-decoration:none;
  font-size:14px;
}
a.banner-btn-leave{
  color: #fff;
  border:0px;
  border-radius:3px;
  background:$color-secondary-1;
  padding:10px 20px;
  text-transform:uppercase;
  font-weight: 600;
  text-decoration:none;
  font-size:14px;
}

a.banner-btn:hover, a.banner-btn-leave:hover{
  color:$color-primary-0;
  background:#ffffff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
}

.container-profile{
  width:100%;
  panel-title{
  font-family: $font-title;
  }
}