<div class="container-fluid container-compressed">
	<h1>Technologies News</h1>
	<% @search.each  do |tweet| %>
		<div class="row">
	  
			<div class="col-xs-2">
			    <%=image_tag(tweet.user.profile_image_url("bigger"))%>
			</div>
			<div class="col-xs-10">
			    <h2><%= link_to tweet.user.name, "http://twitter.com/#{tweet.user.screen_name}"%></h2
			    <p><%= tweet.text %></p>
			</div>
		</div>
	<% end%>
</div>